.Synonyms {

    display: inline-block;
}

.Synonyms li {
    padding: 20px 10px 20px 10px;
    display: inline-block;
    text-decoration: none;
}

.Wrap {
     padding-bottom: 15px;
     padding-left: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}